<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    {% if 'knp_menu' is loaded %}
        {{ knp_menu_render('NfqAdminBundle:AdminMenuBuilder:buildHeaderMenu', { 'template': 'NfqAdminBundle:Menu:_knp_menu.html.twig'} ) }}
    {% else %}
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a class="logout-link" href="{{ url('admin_logout', [], true) }}">
                    <i class="fa fa-sign-out fa-fw"></i> Logout
                </a>
            </li>
        </ul>
    {% endif %}
</li>
