language: php

cache:
  directories:
    - $HOME/.composer/cache

php:
  - 5.6
  - 7.0
  - hhvm

env:
  global:
    - setup=basic

sudo: false

before_install:
  - if [[ ! $TRAVIS_PHP_VERSION = hhvm* ]]; then INI_FILE=~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini; else INI_FILE=/etc/hhvm/php.ini; fi
  - echo memory_limit = -1 >> $INI_FILE
  - echo session.gc_probability = 0
  - echo opcache.enable_cli = 1 >> $INI_FILE
  - pip install --user codecov

install:
  - if [[ $setup = 'basic' ]]; then travis_retry composer install --no-interaction --prefer-dist; fi
  - if [[ $setup = 'stable' ]]; then travis_retry composer update --prefer-dist --no-interaction --prefer-stable; fi
  - if [[ $setup = 'lowest' ]]; then travis_retry composer update --prefer-dist --no-interaction --prefer-lowest --prefer-stable; fi

script:
  - ./vendor/bin/phpunit -c phpunit.dist.xml --coverage-text --coverage-clover=coverage.xml

after_success:
  - codecov

matrix:
  include:
    - php: 5.6
      env: setup=lowest
    - php: 5.6
      env: setup=stable
    - php: 7.0
      env: setup=lowest
    - php: 7.0
      env: setup=stable
  allow_failures:
    - php: hhvm
    - env: lowest
  fast_finish: true
