<form id="search-form" action="{{ searchUri }}" method="get">
    <div class="row">
        <div class="col-lg-10">
            <div class="col-lg-3">
                {% block search_col1 %}
                    Search Column #1
                {% endblock %}
            </div>

            <div class="col-lg-3">
                {% block search_col2 %}
                    Search Column #2
                {% endblock %}
            </div>

            <div class="col-lg-3">
                {% block search_col3 %}
                    Search Column #3
                {% endblock %}
            </div>

            <div class="col-lg-3">
                {% block search_col4 %}
                    Search Column #4
                {% endblock %}
            </div>
        </div>
        <div class="col-lg-2">
            {% block search_buttons %}
                {% include '@NfqAdmin/base/_blocks/_searchPanel_buttons.html.twig' %}
            {% endblock %}
        </div>
    </div>
</form>
