{% trans_default_domain 'adminInterface' %}
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        {{ 'admin.footer.right_side'|trans }}
    </div>
    <!-- Default to the left -->
    {{ 'admin.footer.copyright'|trans({'%year%': date().format('Y')})|raw }}
</footer>
