{% trans_default_domain 'adminInterface' %}
{% if form is not empty %}
{{ form_start(form) }}
<div class="row">
    {% if form.submit_delete is defined %}
        {{ form_row(form.submit_delete) }}
    {% endif %}
</div>
{{ form_end(form) }}
{% endif %}
