{% trans_default_domain 'adminInterface' %}

{% if form is not empty %}
    <div class="row">
        <div class="col-lg-12">
            {% form_theme form '@NfqAdmin/form.html.twig' %}

            {{ form_start(form) }}
            {% if form.submit_delete is defined %}
                {{ form_row(form.submit_delete) }}
            {% endif %}

            {{ form_end(form) }}
        </div>
    </div>
{% endif %}
